.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.env.local
.env.production
.env.development
docker-compose.override.yml
docker-compose.traefik.yml
docker-compose.yml
ssl-certs/